
<br>
<h1 style="text-align: center;">MMclinic</h1>
<div class="container">
   

   
    <div class="container">
        <div class="row">
          <div class="col-9"></div>
          <div class="col-10" style="border: 2px solid black;background-color: rgb(255, 243, 223);"><br> Headquartered in the capital region of Muscat, MMclinic Oman comprises a network of hospitals, medical centres and pharmacies that are redefining medical care across the Sultanate of Oman. Our strength lies in a solid management team and multicultural workforce of over 95 employees including highly experienced doctors, nurses and paramedics. Accreditation by the prestigious JCI, PSFHI and ISO have earned us the distinction of being the first triple-accredited clinic in the Sultanate.
            “Keep caring” is not a mere tagline but a way of life at MMclinic , and the fact that 80 per cent of our clientele are Omani nationals is a standing testimony to the trust we have gained with the local population. </div>
          <div class="col-2">OUR DEPARTMENTS<br><ul  style="background-color: rgb(175, 238, 238);">
            <li>General doctor</li>
        </ul>
         
        <ul  style="background-color: rgb(175, 238, 238);">
        <li>  Urgent Care</li> 
        </ul>
    
        <ul  style="background-color: rgb(175, 238, 238);">
            <li>Dentist</li> 
            </ul></div>
        </div>
      </div>


    
<br>
<div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="1000">
      <img src="../../assets/22.jpg" class="d-block w-100" >
    </div>
    <div class="carousel-item " >
      <img src="../../assets/11.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="../../assets/33.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item ">
      <img src="../../assets/44.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item" >
      <img src="../../assets/55.jpeg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="../../assets/66.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item ">
      <img src="../../assets/77.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item" >
      <img src="../../assets/88.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="../../assets/99.jpg" class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
    
</div>
   











