
    
   
 
 
<div class="container">
 
  <div><video id="background-video" autoplay loop muted poster="../../assets/11" class="backvid">
    <source src="../../assets/banner-video.mp4" type="video/mp4">
  </video></div>

 <br> <br><br> <br><br><br><br><br><br><br><br> <br><br><br>
   
    <div class="container">
        <div class="row">
         
          <div class="col-4" style="  color:#cf295b; text-align:left;font-size: 20px;"><br><p>  Our clinic that are redefining medical care . Our strength lies in a solid management team and multicultural workforce of many employees including highly experienced doctors, nurses and paramedics. Accreditation by the prestigious JCI, PSFHI and ISO have earned us the distinction of being the first triple-accredited clinic in the Sultanate.
            “Keep caring” is not a mere tagline but a way of life at MMclinic , and the fact that 85 per cent of our clientele are Omani nationals is a standing testimony to the trust we have gained with the local population.  </p></div>
          
            <div class="col-6">
              <img src="../../assets/l.png" class="card-img-top" alt="..." style="width: 600px; height:500px; margin: block 30px;">
  
            </div>
    
<br>
<!-- <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="1000">
      <img src="../../assets/22.jpg" class="d-block w-100" >
    </div>
    <div class="carousel-item " >
      <img src="../../assets/11.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="../../assets/33.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item ">
      <img src="../../assets/44.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item" >
      <img src="../../assets/55.jpeg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="../../assets/66.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item ">
      <img src="../../assets/77.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item" >
      <img src="../../assets/88.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="../../assets/99.jpg" class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
    -->
</div>
 <br><br>

 <h4 style="text-align: center; background-color:#cf295b;color: white;"> OUR DEPARTMENTS</h4><br>
 

    
  <!-- 
  <ul  style="background-color: rgb(175, 238, 238); ">
   <li>General doctor</li>
</ul>

<ul  style="background-color: rgb(175, 238, 238);">
<li>  Urgent Care</li> 
</ul>

<ul  style="background-color: rgb(175, 238, 238);">
  <li>Dentist</li> 
  </ul> -->
 
<div class="row row-cols-1 row-cols-md-3 g-4">
  <!--DOCTOR CARD STARTS HERE-->
  <div class="col">
    <div class="" style="width: 18rem;">
      <img src="../../assets/hamona.png" class="card-img-top" alt="...">
      <div class="card-body">
       
        <h5 style="text-align: center;"> General doctor</h5>
      </div>
    </div>
  </div>
    <!--DOCTOR CARD ENDS HERE-->
  <div class="col">
    <div class="" style="width: 18rem;">
      <img src="../../assets/u.png" class="card-img-top" alt="...">
      <div class="card-body">
  
        <h5 style="text-align: center;">Urgent Care</h5>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="" style="width: 18rem;">
      <img src="../../assets/d.png" class="card-img-top" alt="...">
      <div class="card-body">
        
        <h5 style="text-align: center;">Dentist</h5>
      </div>
    
    </div>
  </div>
   
 
</div>

</div>
</div>

 









