<p>Please Register..</p>


<h5> 
<form (ngSubmit)="!patientForm.invalid && onSave()" #patientForm="ngForm" class="row g-3" >
  <fieldset class="form-group">
  <div class="col-md-6">
      <label for="inputEmail4" class="form-label"> Email</label>
      <input type="email" #name="ngModel" [(ngModel)]="patient.email" class="form-control" name="email" required="required">

    </div>
    </fieldset>


    <div class="col-6">
      <fieldset class="form-group">
        <label>Patient Name</label>
        <input type="text" #name="ngModel" [(ngModel)]="patient.name" class="form-control" name="name" required="required">
    </fieldset>
    </div>


    <div class="col-6">
      <fieldset class="form-group">
        <label>Phone number</label>
        <input type="text" #name="ngModel" [(ngModel)]="patient.gsm" class="form-control" name="gsm" required="required">
    </fieldset>
    </div>
     

    <div class="col-md-6">
      <fieldset class="form-group">
        <label>Birth Date</label>
        <input type="date"
        [ngModel]="patient.birthDate | date:'yyyy-MM-dd'"
        (ngModelChange)="patient.birthDate = $event"
        class="form-control" name="birthDate">
    </fieldset>
  </div>
     
    <div class="col-md-4">
      <fieldset class="form-group">
        <label for="inputState" class="form-label">Gender</label><br>
        <select  #name="ngModel" [(ngModel)]="patient.gender" class="form-select" name="gender">
          <option selected>Choose...</option>
          <option>Male</option>
          <option>Female</option>
        </select>
      </fieldset>
    </div>
    
    <div class="col-12">
      


    </div>
    <div class="col-12">
      <button type="submit" class="btn btn-success" >Save</button>
    </div>

  </form>
</h5>
  <br><br><br><br>



 