




<div> 
<h1 style="text-align: center;">  Our Doctors </h1>
</div>  






<div class="row row-cols-1 row-cols-md-3 g-4">
  <!--DOCTOR CARD STARTS HERE-->
  <div class="col">
    <div class="card" style="width: 18rem;">
      <img src="../../assets/3.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Dr.Rani </h5>
        <p class="card-text">    Breathing difficulty of any type
          Chest pain or pressure
          Severe infections including cases of sepsis
          Acute abdominal pain
          Heavy Bleeding
          High or Sustained fevers
          Loss of Consciousness
          Fractures
          Motor vehicle crash injuries
          Head or neck injuries
          Sudden severe headaches, paralysis, seizure or stroke symptoms
          Dehydration
  .</p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Specialist-General Doctor</li>
        <li class="list-group-item">Phone number: 24454426</li>
        <li class="list-group-item">Email: Rani@outlook.com </li>
      </ul>
      <div class="card-body">
        <a (click)="onClik('1','1')" class="card-link">Appointment</a>
        
      </div>
    </div>
  </div>
    <!--DOCTOR CARD ENDS HERE-->
  <div class="col">
    <div class="card" style="width: 18rem;">
      <img src="../../assets/7.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Dr.Hamdoon</h5>
        <p class="card-text">Services Provided:
          Scaling and polishing
          Tooth filling
          Tooth removal
          Teeth whitening
          Root canal treatment
          Fix prosthesis "crown, bridges".</p><br><br><br>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Specialist- Dentistry & Implantology</li>
        <li class="list-group-item">Phone number: 24468826</li>
        <li class="list-group-item">Hamdoon@outlook.com</li>
      </ul>
      <div class="card-body">
        <a (click)="onClik('2','3')" class="card-link">Appointment</a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card" style="width: 18rem;">
      <img src="../../assets/8.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Dr.Ahmed</h5>
        <p class="card-text"> Services Offered:

          Root Canal Treatment,
          Hollywood Smile,
         Teeth Whitening,
        Emax/Zirconia crowns and veneers and bridges,
         Paediatric Treatments,
         Minor Surgical Procedures,
         Cosmetic Teeth Fillings,
          Teeth and Gum Prophylaxis</p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Specialist- Dentistry & Implantology</li>
        <li class="list-group-item"> Phone number: 28454426</li>
        <li class="list-group-item">Email: Ahmed@outlook.com</li>
      </ul>
      <div class="card-body">
        <a (click)="onClik('3','3')" class="card-link">Appointment</a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card" style="width: 18rem;">
      <img src="../../assets/2.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Dr.Sana</h5>
        <p class="card-text">Breathing difficulty of any type
          Chest pain or pressure
          Severe infections including cases of sepsis
          Acute abdominal pain
          Heavy Bleeding
          High or Sustained fevers
          Loss of Consciousness
          Fractures
          Motor vehicle crash injuries
          Head or neck injuries
          Sudden severe headaches, paralysis, seizure or stroke symptoms
          Dehydration</p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Specialist- Dentistry & Implantology</li>
        <li class="list-group-item">Phone number: 27754426</li>
        <li class="list-group-item">Email: Sana@outlook.com</li>
      </ul>
      <div class="card-body">
        <a (click)="onClik('4','3')" class="card-link">Appointment</a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card" style="width: 18rem;">
      <img src="../../assets/4.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Dr.Abeer</h5>
        <p class="card-text">Management of chronic metabolic disorders: DM, Hypertension, Hyperlipidaemia & Other Endocrine Disorders.

          Management of Infective diseases,
          Specialized Diabetic clinic, geriatric clinic,
          Comprehensive medical screening & wellness clinic,
        Travel vaccinations,
        Cancer screening.</p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Specialist-GP - Urgent Care</li>
        <li class="list-group-item">Phone number: 27768826</li>
        <li class="list-group-item">Abeer@outlook.com</li>
      </ul>
      <div class="card-body">
        <a (click)="onClik('5','2')" class="card-link">Appointment</a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card" style="width: 18rem;">
      <img src="../../assets/5.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Dr.Bader</h5>
        <p class="card-text">Services Offered

          Management of chronic metabolic disorders: DM, Hypertension, Hyperlipidaemia & Other Endocrine Disorders.
         Management of Infective diseases.
          Specialized Diabetic clinic, geriatric clinic.
           Comprehensive medical screening & wellness clinic.
          Travel vaccinations.
          Cancer screening.</p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Specialist-GP - Urgent Care</li>
        <li class="list-group-item">Phone number: 27799826</li>
        <li class="list-group-item">Bader@outlook.com</li>
      </ul>
      <div class="card-body">
        <a (click)="onClik('6','2')" class="card-link">Appointment</a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card" style="width: 18rem;">
      <img src="../../assets/6.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Dr.Saju</h5>
        <p class="card-text">Breathing difficulty of any type
        
          Severe infections including cases of sepsis
          Acute abdominal pain
        
          Loss of Consciousness
          Fractures
          Motor vehicle crash injuries
          Head or neck injuries
          Sudden  paralysis, seizure or stroke symptoms</p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Specialist-General Doctor</li>
        <li class="list-group-item">Phone number: 29968826</li>
        <li class="list-group-item">Saju@outlook.com</li>
      </ul>
      <div class="card-body">
        <a (click)="onClik('7','1')" class="card-link">Appointment</a>
      </div>
    </div>
  </div>
 
</div>

  



